In [72]:
import pandas as pd

In [73]:
insurance_data_df = pd.read_csv('resources/insurance.csv')

age_income_df = pd.read_csv("resources/age_income_scraping.csv", index_col= False)

In [74]:
age_income_df.head(0)

Empty DataFrame
Columns: [Age, 25%, 50%, 75%, 90%, 99%, Average%]
Index: []

In [75]:
average_income_df = age_income_df.drop(['25%', "50%", '75%', "90%", "99%"], axis=1)

average_income_df = average_income_df.rename(columns= {"Age":"age","Average%":"average income"})

In [76]:
average_income_df = average_income_df.reset_index(drop=True)

In [77]:
insurance_data_df.head(0)

Empty DataFrame
Columns: [age, sex, bmi, children, smoker, region, charges]
Index: []

In [78]:
average_income_df.head(0)

Empty DataFrame
Columns: [age, average income]
Index: []

In [79]:
complete_df = pd.merge(average_income_df, insurance_data_df, how="inner")

In [80]:
complete_df

,age,average income,sex,bmi,children,smoker,region,charges
0,18,"$10,753.50",male,33.770,1,no,southeast,1725.55230
1,18,"$10,753.50",male,34.100,0,no,southeast,1137.01100
2,18,"$10,753.50",female,26.315,0,no,northeast,2198.18985
3,18,"$10,753.50",female,38.665,2,no,northeast,3393.35635
4,18,"$10,753.50",female,35.625,0,no,northeast,2211.13075
...,...,...,...,...,...,...,...,...
1333,64,"$87,985.91",female,31.825,2,no,northeast,16069.08475
1334,64,"$87,985.91",female,26.885,0,yes,northwest,29330.98315
1335,64,"$87,985.91",male,26.410,0,no,northeast,14394.55790
1336,64,"$87,985.91",male,36.960,2,yes,southeast,49577.66240
1337,64,"$87,985.91",male,23.760,0,yes,southeast,26926.51440