In [4]:
# Import libraries for scraping 
from splinter import Browser
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

import pandas as pd

In [5]:
# Selenium v4 compatible Code Block
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get("https://www.google.com")

In [8]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [9]:
# Visit website to extract data (https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_life_expectancy)
url = 'https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_life_expectancy'
page = browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

False

In [10]:
html = browser.html

news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')

In [11]:
life_expectancy_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_life_expectancy')[0]
life_expectancy_df.columns=['rank','state', 'life expectency']
life_expectancy_df.set_index('state', inplace=False)

life_expectancy_df = life_expectancy_df.iloc[1: , :]

life_expectancy_df.head(5)

  rank          state life expectency
1   2.     California            81.7
2   3.       New York            81.4
3   4.      Minnesota            80.9
4   5.    Connecticut            80.9
5   6.  Massachusetts            80.6

In [12]:
browser.quit()

In [13]:
#removing "rank" column
life_expectancy_df = life_expectancy_df.drop("rank", axis=1)

In [14]:
# removing counties and cleaning data from table 

life_expectancy_df.drop(life_expectancy_df[(life_expectancy_df['state'] == 'Guam[2]') | (life_expectancy_df['state'] == 'Puerto Rico[2]') | (life_expectancy_df['state'] == 'U.S. Virgin Islands[2]') | (life_expectancy_df['state'] == 'United States') | (life_expectancy_df['state'] == 'Northern Mariana Islands[6]')| (life_expectancy_df['state'] == 'American Samoa[6]')].index, inplace= True)

In [15]:
life_expectancy_df.reset_index(inplace= True)

In [16]:
life_expectancy_df.drop('index', axis=1)

                   state life expectency
0             California            81.7
1               New York            81.4
2              Minnesota            80.9
3            Connecticut            80.9
4          Massachusetts            80.6
5               Colorado            80.6
6             New Jersey            80.5
7             Washington            80.4
8                Florida            80.2
9                   Utah            80.1
10               Arizona            80.0
11                Oregon            79.9
12          Rhode Island            79.8
13               Vermont            79.8
14          North Dakota            79.7
15         New Hampshire            79.7
16              Nebraska            79.6
17              Virginia            79.5
18             Wisconsin            79.5
19                  Iowa            79.4
20                 Idaho            79.4
21              Illinois            79.4
22                 Texas            79.2
23              Maryland            79.2
24                Alaska            79.0
25  District of Columbia            79.0
26          South Dakota            78.9
27               Wyoming            78.9
28               Montana            78.9
29                 Maine            78.7
30                Nevada            78.7
31                Kansas            78.5
32              Delaware            78.5
33          Pennsylvania            78.4
34        North Carolina            78.1
35            New Mexico            78.0
36              Michigan            78.1
37               Georgia            77.9
38              Missouri            77.3
39        South Carolina            77.1
40               Indiana            77.1
41                  Ohio            77.0
42             Louisiana            76.1
43             Tennessee            76.0
44              Oklahoma            76.0
45              Arkansas            76.0
46              Kentucky            75.6
47               Alabama            75.5
48           Mississippi            74.9
49         West Virginia            74.8

In [17]:
northwest_states = [ 'Oregon', 'Washington', 'Idaho', 'Montana', 'Wyoming']

southeast_states = ['Alabama', 'Florida', 'Georgia', 'Kentucky', 'Mississippi', 'North Carolina', 'South Carolina','Tennessee']

northeast_states = ['Delaware', 'District of Columbia', 'Maine', 'Maryland', 'Massachusetts', 'New Hampshire', 'New Jersey', 'New York', 'pennsylvania', 'puerto Rico', 'Rhode Island', 'Vermont', 'Virgin Islands', 'Virginia', 'West Virginia']

southwest_states = ['Arkansas', 'Colorado', 'Louisiana', 'Montana', 'New Mexico', 'North Dakota', 'Oklahoma', 'South Dakota', 'Texas', 'Utah', 'Wyoming']

In [18]:
# for i in

In [19]:
life_expectancy_df

    index                 state life expectency
0       1            California            81.7
1       2              New York            81.4
2       3             Minnesota            80.9
3       4           Connecticut            80.9
4       5         Massachusetts            80.6
5       6              Colorado            80.6
6       7            New Jersey            80.5
7       8            Washington            80.4
8       9               Florida            80.2
9      10                  Utah            80.1
10     11               Arizona            80.0
11     12                Oregon            79.9
12     14          Rhode Island            79.8
13     15               Vermont            79.8
14     17          North Dakota            79.7
15     18         New Hampshire            79.7
16     19              Nebraska            79.6
17     21              Virginia            79.5
18     22             Wisconsin            79.5
19     23                  Iowa            79.4
20     24                 Idaho            79.4
21     25              Illinois            79.4
22     26                 Texas            79.2
23     27              Maryland            79.2
24     28                Alaska            79.0
25     29  District of Columbia            79.0
26     30          South Dakota            78.9
27     31               Wyoming            78.9
28     32               Montana            78.9
29     34                 Maine            78.7
30     35                Nevada            78.7
31     36                Kansas            78.5
32     37              Delaware            78.5
33     38          Pennsylvania            78.4
34     39        North Carolina            78.1
35     40            New Mexico            78.0
36     41              Michigan            78.1
37     42               Georgia            77.9
38     43              Missouri            77.3
39     44        South Carolina            77.1
40     45               Indiana            77.1
41     46                  Ohio            77.0
42     48             Louisiana            76.1
43     49             Tennessee            76.0
44     50              Oklahoma            76.0
45     51              Arkansas            76.0
46     52              Kentucky            75.6
47     53               Alabama            75.5
48     54           Mississippi            74.9
49     56         West Virginia            74.8