In this section we will be scraping data from a website to show the avergae income by age in the US. This data will then be converted into a Pandas DataFrame and exported as a .csv file. The purpose of this table will be to provide additional data for our model

In [9]:
# Import libraries for scraping 
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

import pandas as pd

In [10]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [11]:
# Visit website to extract data (https://fourpillarfreedom.com/visualizing-the-income-of-americans-by-age/)
url = 'https://dqydj.com/income-percentile-by-age-calculator/'
page = browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

False

In [4]:
html = browser.html

news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')

In [36]:
income_age_df = pd.read_html('https://dqydj.com/income-percentile-by-age-calculator/')[0]
income_age_df.columns=['Age', '25%', '50%', '75%', '90%', '99%', 'Average%']
income_age_df.set_index('Age', inplace=True)

income_age_df = df.iloc[1: , :]

income_age_df

         25%      50%       75%          90%          99%    Average%
Age
17      $972   $3,013    $7,500   $17,610.00   $79,000.00   $7,761.47
18    $1,600   $6,000   $14,820   $25,001.00   $65,002.00  $10,753.50
19    $3,990  $11,515   $23,000   $35,000.00   $71,001.00  $15,640.00
20    $6,000  $16,479   $27,516   $40,000.00   $80,004.00  $19,526.09
21   $10,000  $20,000   $30,001   $41,820.00   $83,002.00  $22,363.58
22   $10,000  $20,000   $34,320   $50,000.00   $93,691.00  $24,706.00
23   $14,000  $25,000   $40,033   $60,101.00  $100,005.00  $30,118.12
24   $17,750  $30,000   $46,401   $65,000.00  $149,501.00  $36,054.20
25   $21,000  $35,000   $55,000   $76,011.00  $160,201.00  $42,943.11
26   $22,000  $38,000   $58,000   $86,102.00  $237,507.00  $47,873.45
27   $25,000  $41,001   $61,600   $91,800.00  $203,551.00  $50,298.65
28   $25,025  $42,002   $65,000  $100,100.00  $217,172.00  $54,221.10
29   $25,100  $45,000   $67,310  $100,400.00  $240,001.00  $54,718.76
30   $25,200  $45,003   $73,321  $108,530.00  $338,500.00  $59,818.59
31   $28,000  $45,704   $70,002  $111,100.00  $252,670.00  $57,537.18
32   $29,998  $48,002   $77,060  $120,500.00  $320,900.00  $63,165.08
33   $29,980  $49,000   $76,255  $120,202.00  $296,000.00  $62,046.62
34   $28,000  $50,000   $78,003  $122,210.00  $406,001.00  $66,313.13
35   $30,616  $52,776   $87,055  $133,504.00  $347,103.00  $71,388.71
36   $30,000  $52,010   $87,006  $131,131.00  $391,451.00  $71,345.70
37   $30,000  $52,103   $86,000  $137,060.00  $304,027.00  $69,504.62
38   $30,000  $52,000   $89,610  $150,110.00  $433,410.00  $74,890.28
39   $30,000  $53,100   $90,301  $145,000.00  $395,509.00  $74,456.32
40   $32,000  $54,896   $87,855  $140,669.00  $330,011.00  $71,525.01
41   $30,091  $53,119   $89,404  $150,012.00  $576,004.00  $75,906.69
42   $32,000  $56,000   $97,000  $162,051.00  $467,203.00  $81,284.92
43   $31,000  $55,100   $95,000  $152,725.00  $545,563.00  $79,293.20
44   $34,000  $58,000  $100,004  $150,168.00  $422,200.00  $79,302.79
45   $31,382  $57,000  $100,012  $160,001.00  $421,905.00  $81,303.94
46   $33,289  $55,950   $92,403  $147,038.00  $445,201.00  $79,092.44
47   $33,000  $60,000   $97,761  $156,500.00  $423,000.00  $82,042.96
48   $33,800  $56,875  $100,000  $150,155.00  $405,395.00  $80,901.14
49   $30,400  $58,301  $100,000  $150,500.00  $500,040.00  $81,242.54
50   $32,003  $55,002   $93,010  $159,403.00  $403,724.00  $77,529.42
51   $34,000  $60,001  $100,500  $160,822.00  $491,280.00  $85,857.91
52   $31,735  $55,884   $95,000  $150,022.00  $430,952.00  $77,526.22
53   $35,000  $60,000  $100,001  $163,625.00  $590,000.00  $88,138.18
54   $32,001  $56,022   $97,300  $170,000.00  $501,053.00  $83,191.57
55   $32,015  $55,000  $101,000  $165,240.00  $501,500.00  $83,291.85
56   $31,000  $55,350   $94,050  $151,200.00  $493,229.00  $78,161.63
57   $30,000  $52,000   $96,000  $162,002.00  $592,501.00  $82,172.30
58   $32,000  $55,000   $92,500  $150,000.00  $437,022.00  $76,561.92
59   $29,012  $50,033   $88,003  $161,101.00  $480,815.00  $78,545.31
60   $32,100  $57,000  $100,006  $160,790.00  $435,000.00  $81,424.28
61   $31,005  $56,438  $100,001  $170,051.00  $488,500.00  $79,541.38
62   $32,000  $54,001   $96,301  $163,012.00  $725,754.00  $86,680.48
63   $30,000  $59,801  $104,138  $168,000.00  $620,201.00  $88,359.06
64   $31,000  $55,650  $103,001  $167,612.00  $625,172.00  $87,985.91
65   $32,001  $58,000   $90,541  $152,095.00  $484,120.00  $82,909.61
66   $31,899  $55,028   $90,500  $153,790.00  $568,650.00  $79,208.02
67   $34,488  $59,830   $97,349  $165,000.00  $688,347.00  $89,157.79
68   $33,990  $60,028  $100,790  $175,627.00  $412,806.00  $86,361.18
69   $35,784  $60,082  $100,011  $168,740.00  $437,201.00  $84,066.92
70   $34,182  $54,800   $95,751  $164,400.00  $474,201.00  $84,946.11
71   $31,216  $54,953  $108,842  $176,282.00  $978,626.00  $91,061.64
72   $30,001  $53,340  $100,000  $193,600.00  $406,000.00  $84,480.59
73   $34,858  $60,792  $109,050  $205,285.00  $467,016.00  $90,257.94
74   $31,918  $50,100  $102,005  $188,411.00  $542,000.00  $83,386.70
75   $28,320  $53,432   $87,301  $146,051.00  $441,200.00  $73,327.31

In [37]:
income_age_df.to_csv("resources/age_income_scraping.csv")

In [ ]:
browser.quit()